body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.increament {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: green;
  border-radius: 8%;
  color: white;
}

.decreament {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-left: 5px;
  background-color: red;
  border-radius: 8%;
  color: white;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
}
